.header-container {
    display: flex;
    background-color: #141D2F;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;

    .profile-img-container {
        position: relative;

        .my-profile-img {
            position: relative;
            z-index: 1;
            left: 100px;
            top: 50px;
            height: 800px;
            object-fit: cover;
        }

        .header-purple-shadow {
            position: absolute;
            top: 80px;
            width: 407px;
            height: 800px;
            left: 26px;
            flex-shrink: 0;
            transform: rotate(201deg);
            object-fit: contain;
        }

        .header-green-shadow {
            position: absolute;
            top: 60px;
            left: 150px;
            width: 550px;
            height: 800px;
            transform: rotate(25deg) !important;
        }
    }

    .title-container {
        margin-left: 150px;
        margin-bottom: 120px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 99;
        color: white;

        .title-content {
            display: flex;
            align-items: center;

            span {
                display: flex;
                transform: rotate(-90deg);
                font-size: 65px;
            }

            h1 {
                margin: 0;
                font-size: 85px;
            }

            h2 {
                margin: 0;
                font-size: 45px;
                font-weight: 400;
                color: #9747FF;
            }

        }



        .btn-container {
            height: 1px;
            margin-top: 25px;
            position: relative;
            z-index: 99;

            button {
                width: 165px;
                height: 60px;
                background: #70E61C;
                border-radius: 15px;
                color: white;
                font-size: 23px;
                font-weight: 400;
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                transition: 0.1s ease;

                &:hover {
                    width: 175px;
                    height: 70px;
                    background-color: #4B47FF;
                }
            }


        }

    }
}

@media (max-width: 1910px) {
    .title-container {
        margin-left: 120px !important;
    }
}

@media (max-width: 1865px) {
    .title-container {
        margin-left: 100px !important;
    }
}

@media (max-width: 1695px) {
    .title-container {
        margin-left: 50px !important;
    }
}

@media (max-width: 1590px) {
    .title-content {
        span {
            font-size: 56px !important;
        }

        h1 {
            font-size: 77px !important;
        }

        h2 {
            font-size: 40px !important;
        }
    }
}

@media (max-width: 1455px) {
    .my-profile-img {
        height: 750px !important;
        left: 25px !important;
    }

    .header-purple-shadow {
        left: -25px !important;
    }

    .header-green-shadow {
        left: 40px !important;
    }

    .title-container {
        margin-left: 25px !important;
    }
}

@media (max-width: 1370px) {
    .title-content {
        span {
            font-size: 48px !important;
        }

        h1 {
            font-size: 67px !important;
        }

        h2 {
            font-size: 35px !important;
        }
    }
}

@media (max-width: 1260px) {
    .my-profile-img {
        height: 680px !important;
        left: 20px !important;
    }

    .title-content {
        span {
            font-size: 51px !important;
        }

        h1 {
            font-size: 69px !important;
        }

        h2 {
            font-size: 36px !important;
        }
    }
}

@media(max-width: 1155px) {
    .my-profile-img {
        height: 650px !important;
        left: 0px !important;
    }

    .title-container {
        margin-left: 5px !important;
    }
}


@media (max-width: 1125px) {
    .title-content {
        span {
            font-size: 45px !important;
        }

        h1 {
            font-size: 65px !important;
        }

        h2 {
            font-size: 34px !important;
        }
    }
}

@media(max-width: 1090px) {
    .header-container {
        flex-direction: column !important;
        align-items: center;
        padding-top: 25px;
    }

    .title-container {
        margin-top: 50px !important;
    }


    .header-purple-shadow {
        transform: rotate(-148deg);
        top: 100px !important;
        width: 600px !important;
        height: 650px !important;
        left: -225px !important;
    }

    .header-green-shadow {
        top: 90px !important;
        width: 650px !important;
        height: 550px !important;
        transform: rotate(25deg) !important;
        left: -15px !important;
    }
}

@media (max-width: 500px) {
    .title-container {
        margin-right: 20px !important;
        margin-left: 0px !important;
    }

    .title-content {
        span {
            font-size: 34px !important;
        }

        h1 {
            font-size: 46px !important;
        }

        h2 {
            font-size: 24px !important;
        }
    }

    .btn-container {
        button {
            width: 140px !important;
            height: 55px !important;
            font-size: 20px !important;
        }
    }
}

@media (max-width: 400px) {
    .title-content {
        span {
            font-size: 20px !important;
        }

        h1 {
            font-size: 32px !important;
        }

        h2 {
            font-size: 17px !important;
        }
    }

    .profile-img-container {
        width: 100vw !important;
    }

    .my-profile-img {
        width: 100vw !important;
        object-fit: contain !important;
        top: 50px !important;
    }

}

@media (max-width: 360px) {
    .header-purple-shadow {
        height: 550px !important;
    }

    .title-container {
        margin-top: -60px !important;
    }
}