<div class="border-max-width">
    <div class="footer-container">
        <div class="footer-left">
            <div routerLink="/">
                <span>Y</span><span style="color: #9747FF;">e</span><span>H</span><span>tu</span><span
                    style="color: #70E61C;">t</span>
            </div>
            <a routerLink="/imprint"> Imprint </a>
        </div>

        <div class="footer-middle">
            <span>&copy; Ye Htut Aung 2024</span>
        </div>

        <div class="footer-right">
            <a href="https://github.com/YeHtutt" target="_blank">
                <img src="assets/img/icons/Github-button.png" alt="">
            </a>
            <a href="mailto: email@ye-htut-aung.de">
                <img src="assets/img/icons/Email-button.png" alt="">
            </a>
            <a href="https://linkedin.com/in/ye-htut-aung-0a4529289/" target="_blank">
                <img src="assets/img/icons/Linkedin-button.png" alt="">
            </a>
        </div>

    </div>
</div>