.about-me-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 250px;
    padding-left: 102px;
    height: 100vh;

    .left-content-infos {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            flex-shrink: 0;
        }
    }



    .about-me-left-content {
        box-sizing: border-box;
        color: white;
        width: 50%;
        padding-right: 121px;
        z-index: 5;

        h2 {
            font-size: 90px;
            font-weight: 700;
            margin: 0;
        }

        p {
            margin: unset;
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }

    .about-me-right-content {
        box-sizing: border-box;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 5;


        .ellipse {
            width: 453px;
            height: 453px;
            border: 4px solid #70E61C;
            border-radius: 100%;
            overflow: hidden;
            z-index: 5;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .green-line {
            height: 4px;
            width: 100px;
            background-color: #70E61C;
        }
    }


}


@media(max-width: 1090px) {
    .about-me-container {
        flex-direction: column-reverse !important;
        align-items: center !important;
        justify-content: center !important;
        padding-top: 50px !important;
        padding-left: 50px !important;
    }

    .green-line {
        display: none;
    }

    .about-me-left-content {
        padding-right: 0px !important;
        width: 80% !important;
    }
}