<div class="about-me-container" id="AboutMe">
    

    <div class="about-me-left-content">
        <h2>About Me</h2>
        <p> Hi, I am a Front-end developoer based in Darmstadt Germany.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, non assumenda ducimus at totam laudantium itaque qui. Quia, numquam corporis,
            modi mollitia, aperiam cumque alias voluptate debitis ea rerum provident?
        </p>
        <div class="left-content-infos">
            <div class="flex-row">
                <img src="assets/img/bulb.png" alt="">
                <div>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet, non assumenda ducimus at totam laudantium itaque qui. Quia, numquam corporis,
                </div>
            </div>

            <div class="flex-row">
                <img src="assets/img/puzzle.png" alt="">
                <div>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet, non assumenda ducimus at totam laudantium itaque qui. Quia, numquam corporis,
                </div>
            </div>
        </div>
    </div>

    <div class="about-me-right-content">
        <div class="ellipse">
            <img src="assets/img/face-img.png" alt="face image">
        </div>
        <div class="green-line"></div>
    </div>
</div>

