<div class="about-me-container" id="AboutMe">


    <div class="about-me-left-content">
        <h2>About Me</h2>
        <p> Hi, I am a junior Front-end developer based in Darmstadt, Germany.
            I have gained experience in developing Web and Mobile applications with Angular and Javascript.
            Since my studies I have always been fascinated in IT and especially programming.
            So I used the chance in develper akademie to dive into projects and new challanges.
            Now my enthusiasm turned into a passion.
        </p>
        <div class="left-content-infos">
            <div class="flex-row">
                <img src="assets/img/bulb.png" alt="">
                <div>
                    I am ready to take the next step in my career and find a position as a Junior Web Developer which
                    allow me to colleborate with team and improve my programming skills.
                    I look forward the opportunity to contribute my technical knowledge to solve problems and help
                    people and businesses with the user-friendly and visually pleasing products.
                </div>
            </div>

            <div class="flex-row">
                <img src="assets/img/puzzle.png" alt="">
                <div>
                    If you think I could be a good addition to your projects and team, I would be very glad to talk. 
                    Let's discuss how we can work together effectively for your web solution.
                    Don't hesitate to get in touch!
                </div>
            </div>
        </div>
    </div>

    <div class="about-me-right-content">
        <div class="ellipse">
            <img src="assets/img/yehtut_02.png" alt="face image">
        </div>
        <div class="green-line"></div>
    </div>
</div>