<div class="da-bubble-container">
    <div class="da-bubble-screens">
        <img src="assets/img/da-bubble-screens.png" alt="DA-Bubble image">
    </div>

    <div class="da-bubble-description">
        <div class="da-bubble-text">
            <h3>DA-Bubble</h3>
            <p>Angular | Typescript | HTML | SCSS  </p>
            <span>A messaging web application that connects people. 
                Create your own channels invite the people you like. 
                Share information about any project, topic or user team in one central location.
            </span>
        </div>
        <div>
            <a href="https://ye-htut-aung.de/da-bubble/index.html" target="_blank">
                <button class="live-test-btn">Live test</button>
            </a>

            <a href="https://github.com/StefanHerrmann1991/DA-Bubble" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

</div>