<div class="github-email-container">
    <img class="curved-background" src="assets/img/bg-top-shape.png" alt="curved background black">

    <div class="github-email-buttons">
        <div class="purple-line"></div>
        <a href="#" target="_blank">
            <img src="assets/img/icons/Github-button.png">
        </a>
        <a href="#" target="_blank">
            <img src="assets/img/icons/Email-button.png">
        </a>
        <a href="#" target="_blank">
            <img src="assets/img/icons/Linkedin-button.png">
        </a>
        <span class="my-email">yehaung.nov@gmail.com</span>
    </div>

    <div class="scroll-down-alert">
        <div class="scroll-down-text" *ngIf="animationIsActive">Scroll down</div>
        <img src="assets/img/down-arrow.png" id="down-arrow" *ngIf="animationIsActive" class="arrowAnimation">
    </div>

</div>