<div class="full-viewport-width">
<nav class="navbar">
    <div class="navbar-spaceBetween">
        <div class="navbar-logo" routerLink="/">
            <span>Y</span><span style="color: #9747FF;">e</span><span>H</span><span>tu</span><span
                style="color: #70E61C;">t</span>
        </div>

        <div class="navbar-menu">
            <a class="link" [class.highlight-active-section]="activeSection === 'about'" href="#about-me">About me</a>
            <a class="link" [class.highlight-active-section]="activeSection === 'skills'" href="#skills">Skills</a>
            <a class="link" [class.highlight-active-section]="activeSection === 'portfolio'" href="#portfolio">Portfolio</a>
            <a class="link" [class.highlight-active-section]="activeSection === 'contact'" href="#contact">Contact</a>
        </div>

        <div class="burger-menu">
            <button (click)="toggleMenu()" class="burger-icon">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul *ngIf="menuOpen" class="menu-items">
                <li><a class="link" [class.highlight-active-section]="activeSection === 'about'" href="#about-me" (click)="toggleMenu()">About me</a></li>
                <li><a class="link" [class.highlight-active-section]="activeSection === 'skills'" href="#skills" (click)="toggleMenu()">Skills</a></li>
                <li> <a class="link" [class.highlight-active-section]="activeSection === 'portfolio'" href="#portfolio" (click)="toggleMenu()">Portfolio</a></li>
                <li> <a class="link" [class.highlight-active-section]="activeSection === 'contact'" href="#contact" (click)="toggleMenu()">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>