<div class="pollo-loco-container">

    <div class="pollo-loco-description">
        <div class="pollo-loco-text">
            <h3>El Pollo Loco</h3>
            <p>Javascript | HTML | CSS </p>
            <span>A simple Jump-and-Run game based on an object-oriented approach. 
                Help Pepe to find coins and salsa bottles to fight against the enemy chickens.</span>
        </div>
        <div>
            <a href="https://yehtutt.github.io/el_poll_loco/" target="_blank">
                <button class="live-test-btn">Live test</button>
            </a>

            <a href="https://github.com/YeHtutt/el_poll_loco" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

    <div class="pollo-loco-screens">
        <img src="assets/img/ElPolloLoco_01.png" alt="kanban board image">
    </div>

</div>

<div class="green-shadow2">
    <img src="assets/img/shadows/Green-shadow-2.png" alt="">
</div>
