<div class="contact-box" id="contact-box">
    <div class="contact-container">
        <div class="purple-line"></div>
        <h1>Contact</h1>
    </div>

    <div class="contact-me-container">
        <div class="contact-me">
            <h2>Got a problem to solve?</h2>
            <p>
                Contact me through this form, I am interested in hearing
                you, konwing your ideas and contributing to your projects
                with my work.
            </p>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>

        <form (submit)="sendEmail()" class="contact-form" #myForm ngNativeValidate>
            <div class="wrapper">
                <input required type="text" name="name" placeholder="Your name" #nameField (blur)="onBlur($event)"
                    (focus)="onFocus($event, 'name')" (input)="onInput('name')">
                <span [class.transparent]="!requiredAlertName">Your name is required</span>
                <img *ngIf="greenCheckMarkName" src="assets/img/green-mark.png" />
            </div>

            <div class="wrapper">
                <input type="text" name="email" placeholder="Your email" #emailField required (blur)="onBlur($event)"
                    (focus)="onFocus($event, 'email')" (input)="onInput('email')">
                <span [class.transparent]="!requiredAlertEmail">Your email is required</span>
                <img *ngIf="greenCheckMarkEmail" src="assets/img/green-mark.png" />
            </div>

            <div class="wrapper">
                <textarea type="text" name="message" placeholder="Your message" #messageField required
                    (blur)="onBlur($event)" (focus)="onFocus($event, 'message')"
                    (input)="onInput('message')"></textarea>
                <span [class.transparent]="!requiredAlertMessage">Please insert your message</span>
                <img *ngIf="greenCheckMarkMessage" src="assets/img/green-mark.png" />
            </div>

            <div class="send-container">
                <button class="send-btn contact-btn" #sendbutton type="submit"
                    [ngClass]="{ sent: emailSent, 'd-none': addClassToButton }">
                    <span *ngIf="!emailSent"> Send Message </span>
                </button>
                <div class="message-sent-container">
                    <span *ngIf="emailSent && showSpanMsg" class="message-sent">
                        Your email has been sent successfully!</span>
                </div>
            </div>
        </form>

    </div>
    
    <div class="scroll-up-button">
        <img 
        (click)="scrollToSection()"
        src="assets/img/Go-up-button-white.png" alt="scroll up button" class="none-hovered">

        <img 
        (click)="scrollToSection()"
        src="assets/img/Go-up-button-green.png" alt="scroll up button" class="hovered">
    </div>
    
</div>

<div class="purple-shadow4">
    <img src="assets/img/shadows/Purple-shadow-4.png" alt="">
</div>