<div class="join-container">
    <div class="join-screens">
        <img src="assets/img/Join_screens.png" alt="kanban board image">
    </div>

    <div class="join-description">
        <div class="join-text">
            <h3>Join</h3>
            <p>Javascript | HTML | CSS </p>
            <span>Todos or Taskmanagment Application inspiered by the Kanban System. Create and organize tasks
                using drag and drop functions, assign users and categories.</span>
        </div>
        <div>
            <a href="https://ye-htut-aung.developerakademie.net/Join_yehtut/index.html" target="_blank">
                <button class="live-test-btn">Live test</button>
            </a>

            <a href="https://github.com/YeHtutt/Join" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

</div>