<div class="my-skills-container" id="skills">
    <div class="skills">
        <div class="skills-row">
            <div class="skill-name">
                <img src="assets/img/icons/html.png" alt="">
                <span>HTML</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/CSS.png" alt="">
                <span>CSS</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/Javascript.png" alt="">
                <span>Javascript</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/Api.png" alt="">
                <span>Rest-Api</span>
            </div>
        </div>

        <div class="skills-row">
            <div class="skill-name">
                <img src="assets/img/icons/Typescript.png" alt="">
                <span>Typescript</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/Angular.png" alt="">
                <span>Angular</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/Firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/git.png" alt="">
                <span>Github</span>
            </div>
        </div>

        <div class="skills-row">
            <div class="skill-name">
                <img src="assets/img/icons/Scrum.png" alt="">
                <span>Scrum</span>
            </div>
            <div class="skill-name">
                <img src="assets/img/icons/Material-Design.png" alt="">
                <span>Material Design</span>
            </div>
            
            
        </div>
    </div>


    <div class="skills-description">
        <h2>My skills</h2>
        <span>I have gained experiences in building projects with various frontend technologies and concepts</span>

        <div class="btn-container">
            <button class="btn-animation">
                Get in touch
            </button>
        </div>
    </div>

    <span class="purple-line"></span>
</div>