.imprint-container {
    background-color: #141D2F;
    padding-top: 150px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: white;
    height: 75vh;

    h1 {
        font-size: 80px; 
    }
}

@media(max-width: 1090px) { 
    .imprint-container { 
        width: 100vw !important; 
    }
}

@media (max-width: 700px) {
    .imprint-container { 
        padding-left: unset !important;
        display: flex;
        width: 100vw !important;
        align-items: center;
        justify-content: center;
    }
   
}

@media (max-width: 400px) {
    .imprint-container {

        h1 {
            font-size:40px !important;
        }

        h2 {
            font-size: 12px !important;
        }

        p {
            font-size: 14px !important;
        }
    }
    
}